<?xml version="1.0"?>

<launch>
  <arg name="gui" default="true"/>
  <!-- Launch the Gazebo world.  -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" default="true"/>
    <arg name="world_name" value="$(find uol_cmp9767m_base)/worlds/cmp9767m_1.world"/>
    <arg name="gui" value="$(arg gui)" />
  </include>

  <include file="$(find uol_cmp9767m_base)/launch/thorvald.launch">
    <arg name="robot_name" value="thorvald_001" />
    <arg name="x" value="5.0" />
  </include>
  <include file="$(find uol_cmp9767m_base)/launch/thorvald.launch">
    <arg name="robot_name" value="thorvald_002" />
    <arg name="x" value="-5.0" />
  </include>

</launch>
