<?xml version="1.0"?>

<launch>

  <arg name="robot_name" default="thorvald_001"/>
  <arg name="tf_prefix" default="$(arg robot_name)/"/>
  <arg name="map_file" default="$(find uol_cmp9767m_base)maps/cropped.yaml"/>

  <!-- map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

  <group ns="$(arg robot_name)">
    <remap from="map" to="/map" />
    <!-- localization -->
    <node name="fake_localization" pkg="fake_localization" type="fake_localization">
      <remap from="base_pose_ground_truth" to="odometry/gazebo" />
      <param name="~global_frame_id" type="string" value="map"/>
      <param name="~odom_frame_id" type="string" value="$(arg tf_prefix)odom"/>
      <param name="~base_frame_id" type="string" value="$(arg tf_prefix)base_link"/>
    </node> 

    <!-- launch robot_pose_publisher -->
    <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher" respawn="true">
      <param name="~map_frame" value="map"/>
      <param name="~base_frame" value="$(arg tf_prefix)base_link"/>
    </node>

    <!-- move_base -->
    <node name="move_base" pkg="move_base" type="move_base" output="screen">
      <remap from="odom" to="odometry/base_raw" />
      <remap from="cmd_vel" to="nav_vel" />

      <rosparam file="$(find uol_cmp9767m_tutorial)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find uol_cmp9767m_tutorial)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>

      <rosparam file="$(find uol_cmp9767m_tutorial)/config/global_costmap_params.yaml" command="load"/>
      <rosparam file="$(find uol_cmp9767m_tutorial)/config/local_costmap_params.yaml" command="load"/>

      <rosparam file="$(find uol_cmp9767m_tutorial)/config/planners_topo_nav.yaml" command="load"/>

      <!--remap hokuyo frame and topic-->
      <rosparam param="local_costmap/obstacle_layer/laser_scan_sensor/sensor_frame" subst_value="True">$(arg tf_prefix)hokuyo</rosparam>
      <rosparam param="local_costmap/obstacle_layer/laser_scan_sensor/topic" subst_value="True">scan</rosparam>
      <rosparam param="global_costmap/global_obstacle_layer/laser_scan_sensor/sensor_frame" subst_value="True">$(arg tf_prefix)hokuyo</rosparam>
      <rosparam param="global_costmap/global_obstacle_layer/laser_scan_sensor/topic" subst_value="True">scan</rosparam>

    </node>

  </group>
</launch>
