<?xml version="1.0"?>
<launch>
  <arg name="tmap_file" default="$(find uol_cmp9767m_tutorial)/maps/test.tmap2" />
  <arg name="robot_name" default="thorvald_001" />
  <arg name="use_restrictions" default="false" />

  <arg name="machine" default="localhost" />
  <arg name="user" default="" />
  <arg name="reconfigure_edges" default="false"/>
  <arg name="move_base_planner" default="move_base/DWAPlannerROS" />

  <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true"/>

  <include file="$(find uol_cmp9767m_tutorial)/launch/move_base_topo_nav.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
  </include>

  <group ns="$(arg robot_name)">

    <node pkg="topological_navigation" name="restrictions_manager" type="restrictions_manager.py" output="screen" respawn="true" if="$(arg use_restrictions)">
      <param name="out_topic" type="str" value="restricted_topological_map"/>
      <param name="task" type="str" value=""/>
      <param name="type" type="str" value=""/>
    </node>

    <node pkg="topological_navigation" name="topological_transform_publisher" type="topological_transform_publisher.py" output="screen" respawn="true">
      <remap from="topological_map_2" to="restricted_topological_map_2"  if="$(arg use_restrictions)"/>
      <remap from="topological_map_2" to="restricted_topological_map_2"  unless="$(arg use_restrictions)"/>
    </node>

    <node pkg="topological_navigation" name="topological_localisation" type="localisation.py" output="screen" respawn="true">
      <remap from="/robot_pose" to="robot_pose" />
      <remap from="/closest_node" to="closest_node" />
      <remap from="/current_node" to="current_node" />
      <remap from="/current_edge" to="current_edge" />
      <remap from="/closest_edge" to="closest_edge" />
      <remap from="topological_map_2" to="restricted_topological_map_2"  if="$(arg use_restrictions)"/>
      <remap from="topological_map_2" to="/topological_map_2"  unless="$(arg use_restrictions)"/>
      <remap from="/topological_map" to="restricted_topological_map"  if="$(arg use_restrictions)"/>
      <remap from="topological_map" to="/topological_map"  unless="$(arg use_restrictions)"/>
      <param name="base_frame" type="str" value="$(arg robot_name)/base_link"/>
    </node>

    <node pkg="topological_navigation" name="topological_navigation" type="navigation.py" output="screen" respawn="true">
      <remap from="/closest_node" to="closest_node" />
      <remap from="/current_node" to="current_node" />
      <remap from="/current_edge" to="current_edge" />
      <remap from="/closest_edge" to="closest_edge" />

      <remap from="/topological_map_2" to="restricted_topological_map_2"  if="$(arg use_restrictions)"/>
      <remap from="/topological_map" to="restricted_topological_map"  if="$(arg use_restrictions)"/>

      <remap from="/topological_navigation/Route" to="topological_navigation/Route" />
      <remap from="/topological_navigation/Statistics" to="topological_navigation/Statistics" />
      <remap from="/topological_navigation/Edge" to="topological_navigation/Edge" />
      <remap from="/topological_navigation/action_topics" to="topological_navigation/action_topics" />

      <param name="reconfigure_edges" type="bool" value="$(arg reconfigure_edges)"/>
      <param name="move_base_planner" type="str" value="$(arg move_base_planner)"/>
      <rosparam param="move_base_actions">['move_base','human_aware_navigation','hand_adapt_speed','han_vc_corridor','han_vc_junction','row_change','row_traversal']</rosparam>

      <remap from="/$(arg move_base_planner)/set_parameters" to="$(arg move_base_planner)/set_parameters" />
      <remap from="/$(arg move_base_planner)/parameter_descriptions" to="$(arg move_base_planner)/parameter_descriptions" />
      <remap from="/$(arg move_base_planner)/parameter_updates" to="$(arg move_base_planner)/parameter_updates" />

    </node>

    <node pkg="topological_navigation" type="visualise_map.py" name="visualise_map" respawn="true">
      <remap from="/topological_map_2" to="restricted_topological_map_2"  if="$(arg use_restrictions)"/>
      <remap from="topological_map_2" to="restricted_topological_map_2"  if="$(arg use_restrictions)"/>
      <remap from="topological_map_2" to="/topological_map_2"  unless="$(arg use_restrictions)"/>
      <remap from="/topological_map" to="restricted_topological_map"  if="$(arg use_restrictions)"/>
      <remap from="topological_map" to="restricted_topological_map"  if="$(arg use_restrictions)"/>
      <remap from="topological_map" to="/topological_map"  unless="$(arg use_restrictions)"/>
      <remap from="topological_map_zones/feedback" to="/topological_map_zones/feedback"/>
    </node>

  </group>

</launch>
